.headingMargin {
  margin: 0;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2.5rem;
}

.rowField {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1em;
}

.formField:nth-child(1) {
  padding-right: 1em;
}


.formField {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1em;
}

.textArea {
  width: 100%;
  margin-bottom: 1.25em;
  height: 200px;
}

.textInputField {
  border-radius: 0.2rem;
  border: 1px solid rgba(34,36,38,.15);
  line-height: 1.21428571em;
  padding: .67857143em 1em;
}

.formLabel {
  color: rgba(0,0,0,.87);
  font-weight: 700;
  font-size: 0.92rem;
  margin-bottom: 0.25rem;
}

.submitButton {
  font-family: 'Raleway';
  font-size: 1em;
  font-weight: 700;
  padding: .75em 1.5em;
  cursor: pointer;
  background: #E638FE;
  color: white;
  /* color: rgba(0,0,0,.6); */
  border: none;
  border-radius: .28571429rem;
  transition: all .1s ease;
}

.submitButton:hover,
.submitButton:active {
  background: #da11f5;
  /* color: rgba(0,0,0,.8); */
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.formBody {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .rowField {
    flex-direction: column;
  }

  .formField:nth-child(1) {
    padding: 0;
  }
  
  .formBody {
    padding: 10px;
  }
}
